body {
    font-family: Arial, sans-serif;
    background-color: #A446EE;
    margin: 0;
    padding: 20px;
    position: relative;
}
h1 {
    /*position: absolute;*/
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
}
form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 5px;
}
form input[type="date"],
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #9737e0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: #b774eb;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
td button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #9737e0;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
td button:hover {
    background-color: #b774eb;
}
.pagination {
    margin-top: 20px;
    text-align: center;
}
.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #9737e0;
    border: 1px solid #9737e0;
    border-radius: 4px;
    margin-right: 5px;
}
.pagination a.active {
    background-color: #9737e0;
    color: white;
}