
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #b774eb, #a446ee);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div{
    display: block;
}

input {
    max-width: 80%;
    border: none;
    font-size: medium;
    background-color: #AAA5A5;
}

.container {
    max-width: 750px;
    margin: auto;
    padding: 24px;
    position: relative;
    background-color: #D9D9D9;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.form_login {
    max-width: 750px;
    margin: auto;
    padding: 40px 0px 45px;
    position: relative;
    border-radius: 16px;
    background-color: #D9D9D9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.form_login label{
    margin-top: 0%;
    font-size: larger;
}

.form_login label.label_cadastro{
    margin-left: 48px;
}

.form_login div{
    margin: 8px 80px;
    padding: 8px;
    padding-left: 16px;
    border-radius: 8px;
    background-color: #AAA5A5;
}

.form_login .gender {
    max-width: 70%;
    margin: 10px auto 8px;
    text-align: center;
    padding-left: 8px;
    background: none;
}

.gender label{
    margin-right: 5px;
    margin-left: 15px;
}

.gender div{
    margin: auto;
    display: inline-block;
}

.gender .data, .gender .estado{
    margin-left: 70px;
    padding: 8px;
}

.input_label .sexo{
    position: relative;
    right: 10px;
}

.input_label .cep{
    position: relative;
    right: 110px;
}

.form_login .input_label{
    margin: auto;
    padding: 0px;
    text-align: center;
    background: none;
}

.input_label .labels_cad{
    position: relative;
    left: 100px;
}

.input_label .labels_cads{
    position: relative;
    left: 130px;
}

.form_login input[type="text"]:focus, .form_login input[type="password"]:focus{
    outline: none;
    background-color: #AAA5A5;
}

.form_login input[type="checkbox"] {
    margin-right: 10px;
}

.form_login input[type="submit"]{
    position: relative;
    left: 80%;
    padding: 6px 8px;
    border-radius: 8px;
}


.sla{
    display: block;
    position: relative; 
    margin: 0px auto; 
    max-width: 750px; 
}

.button_sec{
    display: block;
    position: relative;
    font-size: larger;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    text-decoration: none;
    width: 60%;
    max-width: 600px;
    padding: 8px 0px;
    border: none;
    border-radius: 8px;
    margin: 24px auto;
}

.button_senha{
    position: absolute;
    margin: 2px -8px;
    right: 12px;
    color: white;
    text-decoration: none;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #b774eb;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #9737e0;
}

.form_label{
    margin-top: 0%;
    margin-left: 24px;
}

.title{
    text-align: center;
    margin: 150px auto 50px;
    font-size: xx-large;
}

.home{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: xx-large;
}