/* Reset de margens para o body e ajustes gerais */
body {
    margin: 0;
    height: 100vh; /* 100% da altura da viewport */
    background-image: url('BackgroundFull.png');
    background-size: cover; /* Cobrir toda a área do body */
    background-position: center; /* Centralizar a imagem */
    font-family: 'Poppins', sans-serif; /* Fonte para o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessário para posicionar o header */
}

.container {
    border-radius: 16px; /* Bordas arredondadas */
    background-color: var(--background-mode, #fff); /* Cor de fundo branco */
    width: 400px; /* Tamanho do container */
    max-width: 100%;
    padding: 32px 48px 48px; /* Espaçamento interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar o container */
    text-align: center; /* Centralizar texto */
}

.title {
    color: var(--foreground-high, #101828);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px; /* Espaçamento inferior do título */
}

.campo {
    text-align: left;
    margin-top: 24px; /* Espaçamento superior do campo */
}

.campo label {
    color: var(--foreground-default, #344054);
    text-transform: capitalize;
}

.input-container {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 3px solid rgba(209, 233, 255, 1); /* Bordas iguais ao campo de confirmar senha */
    padding: 0 12px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 8px; /* Espaçamento superior do input */
}

.input-container input {
    width: 100%;
    height: 96%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.login-button {
    background-color: #1570ef; /* Cor de fundo azul */
    color: #fcfcfd; /* Cor do texto branca */
    font-weight: 600;
    border: none;
    border-radius: 8px; /* Bordas arredondadas */
    padding: 16px 0;
    width: 100%;
    margin-top: 24px; /* Espaçamento superior do botão */
    font-size: 18px;
    cursor: pointer; /* Cursor de mãozinha */
}

.login-button:hover {
    background-color: #125bb2; /* Cor mais escura ao passar o mouse */
}

.header {
    position: absolute;
    top: 30px;
    left: 34px;
    font-size: 1.9rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.header a {
    text-decoration: none;
    color: white;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    .title {
        font-size: 24px;
    }

    .input-container,
    .login-button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .title {
        font-size: 20px;
    }
}
