body {
    margin: 0;
    height: 100vh; /* 100% da altura da viewport */
    background-image: url('BackgroundFull.png');
    background-size: cover; /* Cobrir toda a área do body */
    background-position: center; /* Centralizar a imagem */
    font-family: 'Poppins', sans-serif; /* Exemplo de fonte para o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessário para posicionar o header */
}

h1 {
    position: absolute;
    top: 30px;
    left: 34px;
    font-size: 1.9rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
}

.header {
    position: absolute;
    top: 30px;
    left: 34px;
    font-size: 1.9rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.header a {
    text-decoration: none;
    color: white;
}

.container {
    background-color: #fff;
    width: 60%; /* Adjust the width for a wider container */
    max-width: 600px; /* Ensure the container does not get too large */
    padding: 40px; /* Increase padding for a 'fatter' look */
    border-radius: 16px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
    text-align: center;
    margin-top: 20px; /* Slight top margin */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}

th, td {
    padding: 15px; /* Increase padding for better spacing */
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 12px 24px; /* Increase padding for a bigger button */
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    padding: 12px 24px; /* Increase padding for a bigger button */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c82333;
}
