/* Reset de margens para o body e ajustes gerais */
body {
    margin: 0;
    height: 100vh; /* 100% da altura da viewport */
    background-image: url('BackgroundFull.png');
    background-size: cover; /* Cobrir toda a área do body */
    background-position: center; /* Centralizar a imagem */
    font-family: 'Poppins', sans-serif; /* Fonte para o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessário para posicionar o header */
}

.container a:link,
.container a:visited,
.container a:hover,
.container a:active {
    text-decoration: none;
}

.container {
    border-radius: 16px; /* Borda arredondada */
    background-color: var(--background-mode, #fff); /* Cor de fundo */
    width: 800px; /* Largura do container */
    max-width: 100%;
    padding: 32px; /* Espaçamento interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center;
    margin-top: 30px; /* Espaçamento superior */
}

.header {
    position: absolute;
    top: 30px;
    left: 34px;
    font-size: 1.9rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.header a {
    text-decoration: none;
    color: white;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav .home-link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav .home-link:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem; /* Tamanho do título */
    margin-bottom: 20px; /* Espaçamento inferior */
    color: black; /* Cor do texto */
}

table {
    width: 100%; /* Tabela ocupa toda a largura disponível */
    margin-top: 20px; /* Espaçamento superior */
    border-collapse: collapse; /* Colapso das bordas da tabela */
}

table th,
table td {
    padding: 12px; /* Espaçamento interno das células */
    text-align: center; /* Alinhamento centralizado */
    border: 1px solid #ddd; /* Bordas das células */
}

table th {
    background-color: #f2f2f2; /* Cor de fundo das células de cabeçalho */
}

table td {
    background-color: #fff; /* Cor de fundo das células de conteúdo */
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.cancel-button {
    background-color: #dc3545; /* Cor de fundo vermelha */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 12px 24px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor do mouse */
    transition: background-color 0.3s ease; /* Transição suave */
    margin-right: 10px; /* Espaçamento à direita para separação dos botões */
}

.cancel-button:hover {
    background-color: #c82333; /* Cor mais escura ao passar o mouse */
}

.info-button {
    background-color: #28a745; /* Cor de fundo do botão de informações */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 12px 24px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor do mouse */
    transition: background-color 0.3s ease; /* Transição suave */
}

.info-button:hover {
    background-color: #218838; /* Cor mais escura ao passar o mouse */
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button {
    background-color: #d9534f; /* Cor de fundo do botão de logout */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor do mouse */
    transition: background-color 0.3s ease; /* Transição suave */
}

.logout-button:hover {
    background-color: #c9302c; /* Cor mais escura ao passar o mouse */
}

@media screen and (max-width: 768px) {
    table th,
    table td {
        font-size: 14px; /* Reduzir tamanho da fonte em telas menores */
    }
}
