/* Estilos gerais */
body {
    margin: 0;
    height: 100vh; /* 100% da altura da viewport */
    background-image: url('BackgroundFull.png');
    background-size: cover; /* Cobrir toda a área do body */
    background-position: center; /* Centralizar a imagem */
    font-family: 'Poppins', sans-serif; /* Exemplo de fonte para o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessário para posicionar o header */
}

/* Estilo do header ajustado */
.header {
    position: absolute;
    top: 30px;
    left: 34px;
    font-size: 1.9rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.header a {
    text-decoration: none;
    color: white;
}

/* Estilo do botão de logout ajustado */
.logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px; /* Mantendo padding consistente */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout button:hover {
    background-color: #c82333;
}

.container {
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Adicionado para permitir scroll horizontal caso necessário */
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%; /* Para garantir que ocupe toda a largura dentro da .container */
    box-sizing: border-box; /* Garante que padding não afete a largura total */
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="date"],
form select {
    width: calc(100% - 20px); /* Considerando o padding de 20px no form */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.action-buttons {
    white-space: nowrap;
}

.action-buttons button {
    margin-right: 5px;
    padding: 5px 9px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover {
    background-color: #0056b3;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 4px;
    margin-right: 5px;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
}
