body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A446EE;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid black; /* Bordas inferiores */
    border-right: 1px solid black; /* Bordas direitas */
}

th {
    background-color: #007bff;
    color: black;
}

th:last-child, td:last-child {
    border-right: none; /* Remover borda direita da última coluna */
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button, .info-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button {
    background-color: #dc3545;
    color: #fff;
}

.button:hover {
    background-color: #c82333;
}

.info-button {
    background-color: #28a745;
    color: #fff;
}

.info-button:hover {
    background-color: #218838;
}

.home-link {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    th, td {
        font-size: 14px;
    }
}
