/* Estilos gerais */
body {
    margin: 0;
    height: 100vh; /* 100% da altura da viewport */
    background-image: url('BackgroundFull.png');
    background-size: cover; /* Cobrir toda a área do body */
    background-position: center; /* Centralizar a imagem */
    font-family: 'Poppins', sans-serif; /* Fonte para o texto */
    display: flex;
    flex-direction: column; /* Direção da flexbox */
    align-items: center; /* Alinhamento no centro */
    justify-content: flex-start; /* Justificação ao topo */
}

.container a:link,
.container a:visited,
.container a:hover,
.container a:active {
    text-decoration: none;
}

header {
    width: 90%;
    background-image: url('BackgroundFull.png');
    background-size: cover; /* Cobrir toda a área do body */
    background-position: center; /* Fundo semi-transparente para destacar o cabeçalho */
    padding: 10px 20px; /* Espaçamento interno */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1000; /* Z-index alto para estar acima do conteúdo */
    position: relative; /* Fixa o cabeçalho no topo da tela */
    top: 0;
    left: 0;
    margin-bottom: 20px; /* Espaçamento inferior */
}

header .home-link {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

header form .logout {
    float: right;
    margin-right: 20px;
}

header .logout-button {
    background-color: #dc3545; /* Cor de fundo do botão de logout */
    color: white; /* Cor do texto */
    padding: 8px 16px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    font-size: 14px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor do mouse */
    transition: background-color 0.3s ease; /* Transição suave */
}

header .logout-button:hover {
    background-color: #c82333; /* Cor mais escura ao passar o mouse */
}

.container {
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Adicionado para permitir scroll horizontal caso necessário */
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%; /* Para garantir que ocupe toda a largura dentro da .container */
    box-sizing: border-box; /* Garante que padding não afete a largura total */
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="date"],
form select {
    width: calc(100% - 20px); /* Considerando o padding de 20px no form */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.action-buttons {
    white-space: nowrap;
}

.action-buttons button {
    margin-right: 5px;
    padding: 5px 9px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover {
    background-color: #0056b3;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 4px;
    margin-right: 5px;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}

